* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  scrollbar-width: 0;

  ::-webkit-scrollbar {
    display: none;
  }
}

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  width: 100svw;
  min-height: 100svh;
  overflow: hidden auto;
  position: relative;
}

#chatbot-root {
  color: white;
  display: flex;
  height: fit-content;
  min-height: 100svh;
  max-height: 100svh;
  overflow: auto;
  margin: 0 auto;
  flex-direction: column;
  background-color: #170a1c;
}